@import "mixins";
@import "breakpoints";

.container {
  overflow: hidden;
  position: sticky;
  top: 0;
  background-color: $light-gray;
}

.navbar {
  @include navigation;
}

.content {
  @include nav-item;

  @include breakpoint(tablet) {
    flex-direction: row;
  }
}

.title {
  font-family: "Pacifico", cursive, sans-serif;
  font-size: 4.125rem;
  font-weight: 400;
  color: black;
  text-decoration: none;
}

.subtitle {
  @include paragraph;

  @include breakpoint(tablet) {
    margin-left: 30px;
  }
}

.divider {
  @include triangle-border;
}
