@import "fonts";
@import "variables";
@import "breakpoints";

@mixin navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-gray;
  padding: 0 30px;
  @include breakpoint(tablet) {
    justify-content: space-between;
  }
}

@mixin nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin paragraph {
  font-family: "Playfair Display", sans-serif;
  font-style: italic;
  font-size: 1rem;
}

@mixin paragraph-small {
  @include paragraph;

  font-style: normal;
  font-size: 0.875rem;
}

@mixin header-medium {
  @include paragraph;

  font-size: 2.25rem;
}

@mixin triangle-border {
  background: linear-gradient(-45deg, $white 25px, transparent 0),
    linear-gradient(45deg, $white 25px, transparent 0);
  background-repeat: repeat-x;
  background-size: 50px 50px;
  height: 50px;
  width: 100%;
  content: " ";
}

@mixin button {
  @include paragraph;

  display: flex;
  justify-content: center;
  white-space: nowrap;

  font-size: 1.125rem;
  font-style: normal;
  cursor: pointer;
  background-color: $white;
  border: 1px solid $black;
  padding: 10px 30px;

  @include breakpoint(tablet) {
    background-color: $white;
    color: $black;
    transition: all 0.25s ease;

    &:hover {
      background-color: $black;
      color: $white;
      transition: all 0.25s ease;
    }
  }
}
