@import "variables";
@import "breakpoints";

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.product {
  padding: 30px 0 40px 0;
  border-bottom: 1px solid $light-gray;

  @include breakpoint(tablet) {
    padding: 40px 0;
    border: none;
  }
}
