@import "variables";
@import "breakpoints";

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.product {
  @include breakpoint(tablet) {
    padding: 40px 0;
    border: none;
  }
}
