<div class="container" *ngIf="product">
  <div class="image-container">
    <img
      *ngIf="product.image"
      class="image"
      [src]="product.image"
      [alt]="product.name"
    />
    <span *ngIf="!product.image">Image not found</span>
  </div>

  <div class="info-container" *ngIf="product.name && product.description">
    <h2 class="item-name">{{ product.name }}</h2>
    <p class="item-description">{{ product.description }}</p>
  </div>

  <div class="price-container" *ngIf="product.price">
    <span class="price">{{ product.price }} €</span>
    <button class="add-cart-button" (click)="addToCart(product)">
      ADD TO CART
    </button>
  </div>
</div>
