<div class="container">
  <div class="image-container">
    <img *ngIf="imgSrc" class="image" [src]="imgSrc" [alt]="name" />
    <span *ngIf="!imgSrc">Image not found</span>
  </div>

  <div class="info-container" *ngIf="name && description">
    <h2 class="item-name">{{ name }}</h2>
    <p class="item-description">{{ description }}</p>
  </div>

  <div class="price-container" *ngIf="price">
    <span class="price">{{ price }} €</span>
    <button class="add-cart-button" (click)="addToCart(product)">
      ADD TO CART
    </button>
  </div>
</div>
